<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Protects against phishing by detecting new fraudulent domains and making it easy to 
    create blacklists. Fake New Domains offers advanced tools to prevent cyber attacks.">
    <meta name="keywords" content="Phishing Detection, Newly Created Domains, Domain Patterns, Phishing Prevention, Suspicious Domains, 
    Anti-Phishing Tools, Domain Registration Patterns, Cyber Attack Prevention, Fraud Detection, Domains Blacklist">
    <title>Phishing Detection and Prevention of Fraudulent Domains - Fake New Domains</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fake-icon.png') }}" type="image/png">
</head>
<body>

	<div id="gifContainer">
		
		<div style="background-color: white; padding: 10px; text-align: center; border-radius: 5px;">
			<img src="{{ url_for('static', filename='clock.gif') }}" alt="Updating de database...">
			<br>
			<span sytle="font-size: 34pt">Please, wait a moment</span>
		</div>
	</div>

    <main>
        <header>
            <h1>Fake New Domains</h1>
        </header> 

        <label for="dropdown">Select the pattern:</label>
        <select id="dropdown">
			{% for pattern in patterns %}
				<option value="{{ loop.index0 }}" {% if loop.index0 == selected_pattern %}selected{% endif %}>{{ pattern }}</option>
			{% endfor %}
        </select>

		<div id="domains">
			<table id="results-table">
				<thead>
					<tr>
						<th class="checkbox">Select</th>
						<th style="text-align: left;" id="last_update">Domain - Last update: {{ last_update }}</th>
					</tr>
				</thead>
				<tbody>
				{% for domain in domains %}
				<tr>
                    {% if domain == "No results" %}
					    <td class="checkbox" style="background-color: rgb(249, 245, 240);"><input type="checkbox" disabled="disabled"></td>
                        <td style="background-color:rgb(249, 245, 240);">{{ domain }}</td>
                    {% else %}
                        <td class="checkbox"><input type="checkbox" class="selected" value="{{ domain }}"></td>
                        <td>{{ domain }}</td>
                    {% endif %}

					
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

        <div class="actions">
            <button id="add" disabled="disabled">Add Selected</button>
        </div>
        
        <textarea id="results" rows="10" cols="50" placeholder="Selected items will appear here..." readonly></textarea>

        <div>
            <div class="actions">
                <button id="clear" disabled="disabled">Clear</button>
                <button id="export" disabled="disabled">Export</button>
            </div>
            <div class="actions">
                <button id="update" disabled="disabled">Update database</button>
                <input type="text" id="days" placeholder="1-4 days">
                </div>
        </div>

        <footer>
            <div class="footer-mission">
              <p><strong>Our Mission:</strong> 
                This application was born to cover the increasingly important need to establish protection measures 
                against the most basic attack vectors in phishing attempts. For this reason, we have considered developing 
                this tool that allows us to explore the occurrences detected among newly 
                created domains with a click, in a way that facilitates the preparation 
                of blacklists for possible fraudulent domains in the most agile way possible.</p>
            </div>

            <div style="text-align: center; font-size: 10pt;">
                <p>Contact info: <a href="mailto:juanse77-ccdani@hotmail.com">juanse77-ccdani@hotmail.com</a></p>
                <p>If you want to contribute to our initiative, please <br><a href="https://buymeacoffee.com/fake.new.domains">invite us for a coffee</a> ;D</p>
                <p>&copy; 2024 Fake New Domains</p>
            </div>

        </footer>
          
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

